/*  __PC__*/
@media(min-width: 64em){

}
 
    /*  __Tablet__*/
@media  (min-width: 46.25em)and(max-width: 63.9375em){

}

    /*  __Mobile__*/
@media (max-width: 46.25em){
    
    #band .member-img{
        width: 60%;
    }
    .s-full-width,
    .s-col-full{
        width: 100%;
    }

    #nav{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: black;
    }
    
    #nav .subnav a{
        color: #fff;
        padding: 5px 42px;
    }
    #nav > li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .search-btn{
        display: none;

    }
    #header{
        overflow: hidden;
}
    #header .mobile-menu-btn{
        display: block;
    }
    .contact-form{
        margin-top: 16px;
    }
    .s-mt-8{
        margin-top: 8px;
    }
